.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.7rem;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    height: 100%;
    width: 4rem;
    background: rgba(5, 32, 95, 0.266);
    border-radius: 8px;
    padding: 1rem 0 1rem 0;
  
}

.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}

.menu li button {
    background: none;
    border: none;
}

.menu li button:hover,
.menu li .selected {
    opacity: 0.8;
}
