.currentIrrigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.currentIrrigate .tankAndPlantation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}


.currentIrrigate .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.currentIrrigate .details li {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    gap: 0.3rem;
    padding-left: 0.2rem;
    width: 15rem;
    height: 5rem;
    font-size: 11px;
    background: rgba(23, 74, 113, 0.159);
    border-radius: 5px;
}


.currentIrrigate .details .column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
}