.currentIrrigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 9px;
    padding-bottom: 1rem;


}

.currentIrrigate .startIrrigate {
    width: 10rem;
    height: 2.2rem;
    border-radius: 20px;
    border: none;
    color: white;
    background: rgb(40, 160, 86);
    font-weight: bold;
}

.currentIrrigate .startIrrigate:hover {
    background: rgb(37, 133, 57);
    box-shadow: none;
}