.contentBody {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  gap: 1rem;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.menuDevice {
  width: 100%;
  height: 3.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(39, 86, 144);
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: white;
  gap: 0.5rem;
  position: relative;

}

.menuDevice .back {
  position: absolute;
  left: 0.5rem;
  width: auto;
  height: auto;
  background: none;
  border: none;
  color: white;
  font-weight: bold;

}


.menuDevice img {
  width: 37px;
  height: 37px;

}

.contentBody .row {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  position: relative;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
}