.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: auto;
    border-radius: 5px;
    background: white;
    padding-bottom: 1rem;
}

.add .header {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    color: white;
    font-size: 12px;
    background: rgb(1, 32, 60);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.add .header img {
    width: 21px;
    height: 21px;
    margin-left: 0.5rem;
}

.add .header button {
    background: none;
    height: auto;
    width: auto;
    font-size: 12px;
    font-weight: bold;
    border: none;
    position: absolute;
    color: white;
    top: 0.2rem;
    right: 0.3rem;
}

