.humidityPlantLogs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
}

.humidityPlantLogs .header .title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
    color: white;
}

.humidityPlantLogs .header .title h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.humidityPlantLogs .header .title img {
    width: 28px;
    height: 28px;
}

.humidityPlantLogs .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    gap: 1rem;
}

.humidityPlantLogs .loadingFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    font-size: 15px;
}

.humidityPlantLogs .loadingFilter p,
.humidityPlantLogs .noPlants p {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    text-align: center;
}

.noPlants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-weight: bold;
    width: 99%;
    margin-top: 3rem;
    font-size: 14px;
}

.noPlants img {
    width: 66px;
    height: 66px;
}

.loader {
    --color-1: #fff;
    --color-2: #311e81;
    --size: 1px;
    width: calc(39 * var(--size));
    height: calc(39 * var(--size));
    border: calc(2 * var(--size)) solid var(--color-1);
    border-bottom-color: var(--color-2);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.humidityPlantLogs .plantList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 95%;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.humidityPlantLogs .plantList li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 1.7rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.171);
    color: white;
    font-size: 12px;
}

.humidityPlantLogs .plantList .selected {
    background-color: rgba(34, 34, 34, 0.171);
}
