.listDevices {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
    flex-wrap: wrap;

}

.listDevices li {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(23, 75, 128, 0.416);
    font-size: 13px;
    font-weight: bold;
}

.listDevices li .iconDevice {
    width: 49px;
    height: 49px;
}

.moreOptions {
    position: absolute;
    top: 0.6rem;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}

.moreOptions img {
    width: 20px;
    height: 20px;
}


.options {
    position: absolute;
    top: 7vh;
    left: 15vw;
    background: rgb(38, 38, 38);
    border-top-right-radius: 4px;
    animation-duration: 0.3s;
    animation-name: showOption;
}


@keyframes showOption {
    from {
        width: 0;
    }

    to {
        width: 2rem;
    }
}

.options li {
    font-size: 10px;
    background: none;
    border-bottom: 1px solid rgb(21, 21, 21);
    border-radius: 0;
    padding: 0.4rem;
}


.listDevices li .watch {
    width: 5rem;
    height: 1.5rem;
    background: rgb(22, 169, 22);
    border: none;
    font-weight: bold;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.listDevices li .watch:hover {
    background: rgb(21, 157, 21);

}