.selectRole {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.4rem;
    margin-top: 3.5rem;
    font-size: 13px;
    width: 85%;
    position: relative;
}


.selectRole select {
    width: 100%;
    height: 2.5rem;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 5px;
    padding-left: 0.5rem;
    background:white;
}