.iconCustom {
    width: 4rem;
    height: 4rem;
    margin-top: 1rem;
}

.popupAlertError,
.popupAlertSuccess,
.popupAlertWarning {
    width: 17rem;
}

.popupAlertError h2,
.popupAlertSuccess h2,
.popupAlertWarning h2 {
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.popupAlertError .swal2-icon,
.popupAlertSuccess .swal2-icon,
.popupAlertWarning .swal2-icon {
    width: 56px;
    height: 56px;
    margin-top: 1rem;
}

.popupAlertError .swal2-x-mark-line-left,
.popupAlertError .swal2-x-mark-line-right {
    font-size: 11px;
}

.popupAlertSuccess .swal2-success-line-tip,
.popupAlertSuccess .swal2-success-line-long {
    font-size: 11px;
}

.popupAlertError p,
.popupAlertSuccess p {
    font-size: 14px;
}

.popupAlertError button,
.popupAlertSuccess button,
.popupAlertWarning button {
    width: 4rem;
    height: 2rem;
    font-size: 12px;
    background: red;
    margin: 0;
}

.popupAlertSuccess button {
    background: rgb(33, 181, 50);
}

.popupAlertWarning button {
    background: rgb(230, 172, 57);
}

.popupAlertConfirmDelete {
    width: 17rem;
}

.popupAlertConfirmDelete button {
    width: 7rem;
    height: 2rem;
    font-size: 12px;
}

.popupAlertConfirmDelete .swal2-icon-content,
.popupAlertWarning .swal2-icon-content {
    font-size: 40px;
}

.popupAlertConfirmDelete .confirmButton {
    background: red;
}

.popupAlertConfirmDelete .denyButton {
    background: rgb(36, 34, 34);
}

.popupAlertConfirmDelete h2 {
    font-size: 13px;
}


.titleLoading {
    font-size: 13px;
}

.popupAlertIrrigation {
    width: 16rem;
    height: 11rem;
}

.popupAlertIrrigation img {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
}

.popupAlertIrrigation h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.popupAlertIrrigation button {
    width: 5rem;
    height: 2rem;
    font-size: 12px;
    background: rgb(202, 25, 25);
}