.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(52, 52, 52, 0.559);
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}