.weekdays {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
}

.weekdays ul {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.7rem;
    width: 99%;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.weekdays ul li {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    width: auto;
    height: 1.6rem;
    background: rgba(118, 180, 226, 0.159);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.weekdays ul .selected {
    background: rgba(136, 200, 249, 0.355);
}

.weekdays ul li button {
    background: none;
    width: auto;
    height: auto;
    border: none;
    color: white;
    font-size: 12px;
}