.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: auto;
    min-height: 70%;
    max-height: 85%;
    border-radius: 5px;
    background: white;
    padding-bottom: 1rem;
}

.add .header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    color: white;
    font-size: 11px;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: rgb(1, 32, 60);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.add .header img {
    width: 21px;
    height: 21px;
    margin-left: 0.5rem;
}

.add .header button {
    background: none;
    height: auto;
    width: auto;
    font-size: 12px;
    font-weight: bold;
    border: none;
    position: absolute;
    color: white;
    top: 0.2rem;
    right: 0.3rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: black;
    width: 100%;
    padding-bottom: 1rem;
}

.form {
    font-size: 10px;
    width: 85%;
    height: 100%;
    margin-top: 0.5rem;
    overflow-y: scroll;
}
.form .btnAdd,
.form .btnAddDisabled {
    background: rgb(55, 195, 16);
    width: 12rem;
    padding: 0.4rem 0 0.4rem 0;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.form .btnAddDisabled {
    background: rgb(55, 195, 16);
    opacity: 55%;
}